body {
    padding-top: 72px;
    font-size: 10pt;
    font-family: sans-serif;
  }
.navbar-brand{
    font-family: Nunito;
    color: black;
    cursor: pointer;
    font-weight: 900;
    
}
.navbar{
    top:0;
    right: 0;
    left: 0;
}
.home-image{
   height: 740px;
   width: 1350px;
   min-width: 100%;
   min-height: 100%;
   position: absolute;
   left:0;
   top:0;
   z-index: -1;
}
section#home{
    position: relative;
    height: 100vh;
    margin-top: -72px;
    overflow: hidden;
}
section#home::after{
    content:"";
    display:block;
    position: absolute;
    z-index: 0;
    background-color:rgba(0,0,0,0.75);
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}
.home-content{
    position: absolute;
    top:50%;
    right:20%;
    transform: translate(-50%,-50%);
    color:#fff;
    z-index:1;
    text-shadow: 0 0 6px #000;
}
.home-content h1{
font-weight: 700;
font-size: 3.5em;
margin-bottom: 10px;
white-space: nowrap;
color:#f25f4c}
.home-content .tag-2{
    font-size: 1.55em;
    margin-bottom: 14px;
    display: flex; 
    
}
.home-content .tag-3 {
    font-size: 1.7em;
    font-weight: 400; 
    display: flex;
}
.home-content .tag-4 {
    font-size: 1.7em;
    font-weight: 400; 
    display: flex;
}
.high-intro{
    font-weight: bolder;
}
 .home-image {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    left:35%;
    transform: translate(-35%);
  }
  nav>li>a{
      color:#fffffe;
      padding: 10px;
      margin: none;
      font-weight: 900;
      text-decoration: none;
  }
  .navbar{
     /* padding-left: 450px;
     padding-right: 00px; */
     display: flex;
     
     justify-content: flex-end;
     /* align-items: flex-start; */
  }

  nav>li>a:hover{
      background-color:#ff8906;
      text-decoration: none;
      color:#fffffe;
  }
  